
    <!-- ========================= SECTION CONTENT END// ========================= -->

    {% extends 'home.html' %}


    {% load static %}
    
    
    {% block content %}
    
    <div style="margin-top: 100px;">
        <p>
            .
        </p>
    </div>
    
       
    
        
        <section class="contact" id="contact">
    
            <h1 class="heading"> <span>Recuperar </span> Contraseña</h1>
            <div class="row">
                
                    
    
                <form action="{% url 'forgotPassword' %}" method="POST">
                    {% csrf_token %}
    
                    <div class="inputBox chuni" id="div_form">
                        <input type="email" class="form-control" placeholder="Email" name="email" >
                    </div>
                    
                    <h1 class="heading">ya tienes tu password?  <a href="{% url 'login' %}">Login</a> </h1>
                    
    
                    <input type="submit" value="Enviar" class="btn">
                </form>
    
                
        
            </div>
    
            
        
        </section>
    
        <h1 class="heading">
            {% include 'includes/alerts.html'  %}
        </h1>
    
    
    
    {% endblock %}