
    <!-- ========================= SECTION CONTENT END// ========================= -->

    {% extends 'home.html' %}


    {% load static %}
    
    
    {% block content %}
    
    <div style="margin-top: 100px;">
        <p>
            .
        </p>
    </div>
    
       
    
        
        <section class="contact" id="contact">
    
            <h1 class="heading"> <span>Resetear </span> Password</h1>
            <div class="row">
                
                    
    
                <form action="{% url 'resetPassword' %}" method="POST">
                    {% csrf_token %}
    
                    <div class="inputBox chuni" id="div_form">
                        <input type="password" class="form-control" placeholder="Crear password" name="password" >
                    </div>

                    <div class="inputBox chuni" id="div_form">
                        <input type="password" class="form-control" placeholder="Confirmar password" name="confirm_password" >
                    </div>
                    
                    
    
                    <input type="submit" value="Resetear" class="btn">
                </form>
    
                
        
            </div>
    
            
        
        </section>
    
        <h1 class="heading">
            {% include 'includes/alerts.html'  %}
        </h1>
    
    
    
    {% endblock %}