{% extends 'home.html' %}

{% load static %}  


{% block content %}

<div style="margin-top: 150px;">
    
</div>    


<div style="margin: 40px;">
    <h1 class="heading" id="conteo_de_libros"><span>libros</span></h1>
</div>    


<section class="about" id="about">

    <h1 class="heading"> <span>Regla</span>mento</h1>

    <div class="row">

        <div class="image">
            <img src="static/images/regla1.jpg" alt="">
        </div>

        <div class="content">
            <h3>¿porque leer el reglamento?</h3>
            <p>Es importante que entiendas que "presta libro" es un lugar de la gente para la gente y que solo funcionara correctamente si todos cumplimos las reglas…</p>
            <p>Se cuidadoso con el libro que adquieras y respetuoso tanto con el prestador como con las futuras opiniones que puedas dejar en la página</p>
            <p>te pedimos que POR FAVOR!!! leas el reglamento y cumplas con el, para que todos podamos disfrutar de esto que tanto nos apasiona</p>
            <a href="#" class="btn">leer reglamento</a>
        </div>

    </div>

</section>


<h1>hola detalle</h1>

{% endblock  %}